<div class="navWrapper">
    <div class="container">
        <div class="bg-banner col-md-12 mb-2 text-uppercase">
            <span class="mb-0 bannertext">Android <span class="text-uppercase " style="color:red">News</span>
                Scraper</span>
        </div>
    
    <div class="d-flex justify-content-between">
        <a href="/" action="button" class="btn btn-sm  btn-light">Home</a>
        <a href="/saved" action="button" class="btn btn-sm btn-light">Saved Article</a>
        <a href="/clear" action="button" class="btn btn-sm btn-light">Clear Data</a>
    </div>
</div>
    <hr>
</div>

<div class="container">
    {{#each article}}
    <div class="card bg-light mb-2">
        <div class="row m-1">
            <div class="align-self-center col-md-4 col-sm-12">
                <img class="card-img" style="width:100%" src="{{this.image}}" alt="blackice">
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.summary}}</p>
                    <div class="d-flex justify-content-between">
                        <div class="col-4 align-self-center">
                            <a href={{this.link}} target="_blank" class="card-link">Read more...</a>
                        </div>

                        <div class="col-8 align-self-end text-right">
                            <button class="btn btn-danger btn-sm m-2 btn-remove" data-id="{{this._id}}">Remove</button>
                            <button class="btn btn-success btn-sm m-2 btn-view-notes" data-id="{{this._id}}">View
                                Notes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>



<div class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>